<launch>
	<arg
		name="pose_location"
		default="$(find lidar_ext_acquisition)/data/lidar_acquired_poses.csv"
		doc="Location of the file specifying viewing points to visit."
	/>
	<arg
		name="img_location"
		default="$(find lidar_ext_acquisition)/data/"
		doc="Place to put the captured pointclouds."
	/>
	<arg
		name="goto_location"
		default="$(find lidar_ext_acquisition)/data/lidar_jsp_calibration.csv"
		doc="Place to save recorded poses."
	/>
	<arg
		name="caminfo_location"
		default="$(find lidar_ext_acquisition)/data/camera_info_acquire.yml"
		doc="Place to save camera info."
	/>

	<node
		name="acquisition"
		pkg="lidar_ext_acquisition"
		type="lidar_extrinsic_acquisition"
		args="$(arg goto_location) $(arg img_location) $(arg pose_location) $(arg caminfo_location)"
		output="screen"
	/>
</launch>
