<launch>
	<arg
		name="data_path"
		default="$(find extrinsic_acquisition)/data/poses.csv"
		doc="Path and name of the Arm Location File. Images are expected to be located in the same folder."
	/>
	<arg
		name="output_path"
		default="$(find extrinsic_acquisition)/data/extrinsic_detections.csv"
		doc="Location to output data."
	/>
	
	<node
		name="detector"
		pkg="aruco_detection"
		type="aruco_detector"
		args="$(arg data_path) $(arg output_path)"
		output="screen"
		required="true"
	/>
</launch>
