<launch>
	<include file="$(find roadprintz_launch)/launch/stella_sim.launch"/>
	
	<node
		name="spawn_checkerboard"
		pkg="gazebo_ros"
		type="spawn_model"
		args="-sdf -database checkerboard_plane -model checkerboard_plane -x -8.5 -y 0 -z 0.075"
	/>
	
	<node name="places_please" pkg="stella_jsp_utils" type="go" args="0 0.1 -0.45 0 0 0 5.0" />
</launch>
