<?xml version="1.0" ?>
<robot name="simple_camera" xmlns:xacro="http://ros.org/wiki/xacro">
 	<link name="world"/>
 	
	<link name="camera_optical_link_real">
		<visual>
			<origin xyz="0 0 0.0" rpy="0 0 0"/>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<!--Every element needs an inertial for some reason...-->
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>
	<link name="camera_optical_link_fixed">
		<visual>
			<origin xyz="0 0 0.0" rpy="0 0 0"/>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<!--Every element needs an inertial for some reason...-->
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>

	<joint name="camera_optical_joint_real" type="fixed">
		<parent link="world"/>
		<child link="camera_optical_link_real"/>
		<origin rpy="0 0 0" xyz="-0.102 0.017 -0.4"/>
	</joint>
	
	<!-- gazebo uses the x-axis of the camera frame as optical axis, which is annoying-->
	<joint name="camera_optical_joint_fixed" type="fixed">
		<parent link="camera_optical_link_real"/>
		<child link="camera_optical_link_fixed"/>
		<origin rpy="0 -1.5707 1.5707" xyz="0 0 0"/>
	</joint>
	<gazebo reference="camera_optical_joint_fixed">
		<disableFixedJointLumping>true</disableFixedJointLumping>
	</gazebo>

	<!-- camera simulator plug-in -->
	<!-- TODO: Parametrize this-->
	<gazebo reference="camera_optical_link_fixed">
		<sensor type="camera" name="camera">
			<update_rate>0</update_rate>
			<camera name="camera">
				<horizontal_fov>1.215</horizontal_fov>
				<image>
					<width>2304</width>
					<height>1296</height>
					<format>R8G8B8</format>
				</image>
				<clip>
					<near>0.005</near>
					<far>10</far>
				</clip>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.025</stddev>
				</noise>
				<distortion>
					<k1>-0.433351</k1>
					<k2>0.257538</k2>
					<k3>-0.090683</k3>
					<p1>0.000512</p1>
					<p2>0.000263</p2>
				</distortion>
			</camera>
			<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
				<alwaysOn>true</alwaysOn>
				<updateRate>0</updateRate>
				<cameraName>camera</cameraName>
				<imageTopicName>image_raw_color</imageTopicName>
				<cameraInfoTopicName>camera_info</cameraInfoTopicName>
				<frameName>camera_link</frameName>
				<distortionK1>-0.433351</distortionK1>
				<distortionK2>0.257538</distortionK2>
				<distortionK3>-0.090683</distortionK3>
				<distortionT1>0.000512</distortionT1>
				<distortionT2>0.000263</distortionT2>
			</plugin>
		</sensor>
	</gazebo>
</robot>
