<launch>
	<arg
		name="data"
		default="$(find intrinsic_acquisition)/data/intrinsic_detections.csv"
		doc="CSV file of point data."
	/>
	<arg
		name="position_initial"
		default="$(find intrinsic_acquisition)/data/task_description.yml"
		doc="Acquisition Description File which contains guesses at camera position."
	/>
	<arg
		name="intrinsic_initial"
		default="$(find intrinsic_simulation)/tests/basic_camera.yml"
		doc="Initialization file which contains guesses at camera intrinsics."
	/>
	<arg
		name="output"
		default=""
		doc="Output file for finished calibration."
	/>
	
	<node
		name="calibrator"
		pkg="intrinsic_calibration"
		type="int_calibrator"
		args="$(arg data) $(arg position_initial) $(arg intrinsic_initial) $(arg output)"
		output="screen"
		required="true"
	/>
</launch>
