<?xml version="1.0" ?>
<robot name="simple_camera" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find cwru_ros_camera)/modular_camera.urdf" />

	<xacro:property name="gt_file" default="$(find intrinsic_simulation)/tests/basic_camera.yml"/>
	<xacro:property name="yml_dict" value="${load_yaml(gt_file)}"/>

 	<link name="world"/>
 	
	<link name="camera_optical_link_real">
		<visual>
			<origin xyz="0 0 0.0" rpy="0 0 0"/>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<!--Every element needs an inertial for some reason...-->
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>

	<joint name="camera_optical_joint_real" type="fixed">
		<parent link="world"/>
		<child link="camera_optical_link_real"/>
		<origin 
			rpy="${yml_dict['mill_to_camera_r']} ${yml_dict['mill_to_camera_p']} ${yml_dict['mill_to_camera_w']}"
			xyz="${yml_dict['mill_to_camera_x']} ${yml_dict['mill_to_camera_y']} ${yml_dict['mill_to_camera_z']}"
		/>
	</joint>
	
	<xacro:cwru_camera
		parent="camera_optical_link_real"
		image_topic="/camera/image_raw_color"
		info_topic="/camera/camera_info"
		k1="${yml_dict['k1']}"
		k2="${yml_dict['k2']}"
		k3="${yml_dict['k3']}"
		p1="${yml_dict['p1']}"
		p2="${yml_dict['p2']}"
		
		f_x="${yml_dict['fx']}"
		f_y="${yml_dict['fy']}"
		c_x="${yml_dict['cx']}"
		c_y="${yml_dict['cy']}"
		r_u="${yml_dict['resolution_u']}"
		r_v="${yml_dict['resolution_v']}"
	/>
</robot>
