<launch>
	<arg
		name="data"
		default="$(find extrinsic_calibration_check)/data/"
		doc="CSV files of point data."
	/>
	<arg
		name="position_initial"
		default="$(find cam_cal)/calibrations/stella_external_sim.yml"
		doc="Acquisition Description File which contains guesses at camera and target positions."
	/>
	<arg
		name="intrinsics"
		default="$(find cam_cal)/calibrations/stella_calibrated.yml"
		doc="Calibration file which contains camera intrinsics."
	/>
	
	<node
		name="calibrator"
		pkg="extrinsic_calibration_check"
		type="ext_calibrator_check"
		args="$(arg data) $(arg position_initial) $(arg intrinsics)"
		output="screen"
		required="true"
	/>
</launch>
