<launch>
	<arg
		name="cam_file"
		default="$(find intrinsic_simulation)/tests/basic_camera.yml"
		doc="Path to look for Camera Ground Truth File (if it exists)."
	/>
	<arg
		name="acquire_file"
		default="$(find intrinsic_acquisition)/data/task_description.yml"
		doc="Path to look for Test Description File (if it exists)."
	/>


	<!--env name="GAZEBO_MODEL_PATH" value="$(find roadprintz_camera_eval)/model"/>
	<env name="GAZEBO_MODEL_PATH" value="$(find roadprintz_camera_eval)/props"/-->

	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	
	<!--Spawn the camera-->
	<param
		name="robot_description"
		command="
			$(find xacro)/xacro
			'$(find intrinsic_simulation)/urdf/camera.urdf'
			gt_file:=cam_file
		"
	/>
	<node
		name="spawn_camera" pkg="gazebo_ros"
		type="spawn_model" output="screen"
		args="-param robot_description -urdf -model cam"
	/>
	
	<!--Spawn the target so we can look at it-->
	<param
		name="target_description"
		command="
			$(find xacro)/xacro
			'$(find intrinsic_simulation)/urdf/target.urdf'
			target_file:=$(arg acquire_file)
			position_file:=$(arg cam_file)
		"
	/>
	<node
		name="spawn_target" pkg="gazebo_ros"
		type="spawn_model" output="screen"
		args="-param target_description -urdf -model target"
	/>
	
	<!--Set up the management system to move targets around-->
	<node
		name="spawner" pkg="intrinsic_simulation"
		type="sim_mover" output="screen"
	/>

</launch>
