<launch>
	<arg
		name="cam_file"
		default="$(find intrinsic_simulation)/tests/basic_camera.yml"
		doc="Path to look for Camera Ground Truth File (if it exists)."
	/>


	<!--env name="GAZEBO_MODEL_PATH" value="$(find roadprintz_camera_eval)/model"/>
	<env name="GAZEBO_MODEL_PATH" value="$(find roadprintz_camera_eval)/props"/-->

	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	
	<!--Spawn the camera-->
	<param
		name="robot_description"
		command="
			$(find xacro)/xacro
			'$(find intrinsic_simulation)/urdf/camera.urdf'
			gt_file:=cam_file
		"
	/>
	<node
		name="spawn_model" pkg="gazebo_ros"
		type="spawn_model" output="screen"
		args="-param robot_description -urdf -model cam"
	/>
</launch>
