<launch>
	<arg
		name="cal_dir"
		default="$(find cam_cal)/calibrations/stella_sim.yml"
		doc="Location of the calibration file where the intrinsics are."
	/>
	<arg
		name="topic"
		default="/camera/image_raw_color"
		doc="Image topic to listen to."
	/>
	
	<node
		name="test_dewarp"
		pkg="test_dewarp"
		type="test_dewarp_topic"
		args="$(arg cal_dir) $(arg topic)"
		output="screen"
	/>
</launch>
