<launch>
	<arg
		name="data"
		default="$(find toolflange_acquisition)/data/corner_detections.csv"
		doc="CSV file of point data."
	/>
	<arg
		name="extrinsic_initial"
		default="$(find cam_cal)/calibrations/stella_toolflange.yml"
		doc="Initialization file which contains guesses at camera position."
	/>
	<arg
		name="output"
		default="$(find cam_cal)/calibrations/stella_toolflange.yml"
		doc="Output file for finished calibration."
	/>
	
	<node
		name="calibrator"
		pkg="toolflange_calibration"
		type="flange_calibrator"
		args="$(arg data) $(arg extrinsic_initial) $(arg output)"
		output="screen"
		required="true"
	/>
</launch>
